.img {
    max-height: 200px;
}

.card-text{
    font-size:19px;
    text-overflow: ellipsis;
    /* white-space: nowrap; */
    overflow: hidden;
}
.fs-12 {
    font-size: 12px;
}

.fs-14{
    font-size: 14px;
}